.readyPage {
  background-color: #616161;
}
.readyTitle {
  font-family: Roboto;
}
.doItButton {
  background-color: #6e7351;
  color: #fff7f1;
  font-size: 36px;
  text-align: center;
}
.notYetButton {
  border: 6px solid #616161;
  color: #fff7f1;
  font-size: 36px;
  text-align: center;
}
