/*** Buttons ***/

.btn-1 {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 44px;
  width: 130px;
  border-radius: 0px;
  background-color: #a6271f;
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #fff7f1;
}

.btn-2 {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 44px;
  width: 130px;
  border-radius: 0px;
  background: #494a14;
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #fff7f1;
}

.btn-3 {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 44px;
  width: 130px;
  border-radius: 0px;
  background: #222222;
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #fff7f1;
}

.btn-4 {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 44px;
  width: 130px;
  border-radius: 0px;
  border-color: #fff7f1;
  background: #616161;
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #fff7f1;
}

.btn-5 {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 44px;
  width: 130px;
  border-radius: 0px;
  background: #fff7f1;
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.btn-area {
  text-align: center;
}

.button-mapping-area {
  display: flex;
  justify-content: center;
  max-width: 32rem;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

.button-mapping {
  min-width: 38rem;
  max-width: 38rem;
}

.equipment-align-items {
  display: flex;
  align-items: flex-start;
}

.equipment-text-special {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: black;
  width: 10rem;
}

.equipment-description-box {
  border-radius: 0.375rem;
  height: 3rem;
  color: black;
  width: 20vw;
}

.equipment-quantity-box {
  border-radius: 0.375rem;
  height: 3rem;
  color: black;
  width: 5rem;
}

/*** Home Page ***/

.landing-page {
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #222222;
}

.landing-container-1 {
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 80vh;
}

.welcome {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  margin-left: 10rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.5rem;
}

.join-button {
  height: 2.75rem;
  width: 15.875rem;
  margin-top: 10rem;
  margin-left: 10rem;
  align-content: center;
  font-size: 1.5rem;
  background-color: #a6271f;
  position: relative;
  color: #fff7f1;
  cursor: pointer;
}

.join-button:hover {
  background-color: black;
}

.landing-container-back {
  display: flex;
  height: 70vh;
}

.landing-container-info-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  padding: 0.5rem;
  width: 40vw;
  color: #fff7f1;
}

.title {
  margin-left: 5rem;
  font-size: 47px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
}

.title-paragraph {
  margin-left: 5rem;
  font-size: 1.6875rem;
  font-family: 'Noto Sans JP', sans-serif;
}

.landing-pic-back {
  height: 33.75rem;
  width: 25.625rem;
  margin-left: 15rem;
  padding: 1rem;
}

.landing-container-3 {
  background-color: #222222;
  display: flex;
  flex-direction: row-reverse;
  height: 70vh;
  width: 100%;
  color: #fff7f1;
}

.landing-pic-3 {
  display: flex;
  width: 25.0625rem;
  height: 33.9375rem;
  width: 100%;
  padding: 1rem;
  margin-left: 4rem;
}

.landing-container-3-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4rem;
  padding: 0.5rem;
}

.landing-container-5 {
  background-color: #222222;
  display: flex;
  flex-direction: row-reverse;
  height: 70vh;
  width: 100%;
}

.landing-pic-5 {
  display: flex;
  height: 70vh;
  margin-left: 3.5rem;
  padding: 0.5rem;
  width: 30vw;
}

.landing-container-5-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 7rem;
  padding: 0.5rem;
}

.landing-footer {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  height: 20vh;
  margin: 1rem;
}

.landing-footer-info {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-left: 3rem;
}

.my-equipment-con {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

.my-equipment-component {
  display: flex;
  display: flex;
  justify-content: center;
  width: 83.333333%;
}

.existing-equip-list {
  border-right: '5px solid #FFF7F1';
  margintop: '2.5rem';
  borderradius: '10px';
  font-weight: 600;
  padding: '1rem';
  color: 'white';
}

.your-equipment-title {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 1.5rem;
  text-align: center;
  color: red;
}

.equipp-1 {
  display: flex;
  justify-content: center;
}

.equipp-2 {
  width: 75vw;
  display: flex;
  border: white;
  color: black;
  align-items: center;
  text-align: left;
  height: 3rem;
}

.equipp-3 {
  width: 25vw;
  display: flex;
  background-color: white;
  color: black;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}

.equipment-form-container {
}

.equipp-4 {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  border-radius: '10px';
  padding: '1rem';
  min-width: '38rem';
  max-width: '38rem';
}

.add-equipment-title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  color: red;
}

.equipment-category-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.category-drop-menu {
  color: black;
}

.equipment-category-btn-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.25rem;
  line-height: 1.75rem;
  width: 100%;
}
