/* ****HOME PAGE**** */

.landing-page {
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #222222;
}

.landing-container-1 {
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 70vh;
}

.welcome {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  margin-left: 5rem;
}

.join-button {
  background-color: #a6271f;
}

.join-button:hover {
  background-color: #a6271f;
}

.join-button {
  align-content: center;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 4rem;
  padding-left: 4rem;
  color: #a6271f;
  width: 12rem;
}

.landing-container-back {
  display: flex;
  height: 70vh;
}

.landing-pic-back {
  height: 70vh;
  margin-left: 15rem;
  padding-top: 1rem;
  width: 30vw;
}

.landing-container-info-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  padding: 0.5rem;
  width: 40vw;
}

.landing-container-3 {
  background-color: #222222;
  display: flex;
  flex-direction: row-reverse;
  height: 70vh;
  width: 100%;
}

.landing-pic-3 {
  display: flex;
  height: 70vh;
  margin-left: 3.5rem;
  width: 100%;
}

.landing-container-3-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 7rem;
  padding: 0.5rem;
}

.landing-container-5 {
  background-color: #222222;
  display: flex;
  flex-direction: row-reverse;
  height: 70vh;
  width: 100%;
}

.landing-pic-5 {
  display: flex;
  height: 70vh;
  margin-left: 3.5rem;
  padding: 0.5rem;
  width: 30vw;
}

.landing-container-5-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 7rem;
  padding: 0.5rem;
}

.landing-footer {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  height: 20vh;
  margin: 1rem;
}

.landing-footer-info {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-left: 3rem;
}
